/* Basic game settings */
svg .grid {

}

svg .game {
  fill: red; /* should get overwritten */
  stroke-width: 0.1;
  transition: fill-opacity .2s;

  /* align center game with center of parent */
	transform: translate(50%, 50%);
}
svg .game :hover {
  fill-opacity: 0.6;
}

/* Text color + other text settings */
svg .game text {
  fill: #fff;
  fill-opacity: 1;
  font-size: 1.6px;
  user-select: none;
}
svg .hoverText {
  fill: #333;
  fill-opacity: 1;
  font-size: 1.6px;
  user-select: none;

  /* align center of hover text at center of parent a bit down from top */
  text-anchor: middle;
  transform: translate(50%, 2em);
}

/* Hex + circle specific settings */
svg .game polygon {
  stroke: #fff;
}
svg .game circle {
  stroke: #fff;
  /* stroke-width: 0.2; */
  fill-opacity: 1;
}
svg .game circle.light {
  stroke: #333;
}
/* svg .game .blocked {
    fill: #465880;
}
svg .game .blocked:hover {
    fill: #53699a;
} */

/* Room Colors */
svg .game .P {
  fill: #faa7f3;
}
svg .game .I {
  fill: #8372ab;
}
svg .game .O {
  fill: #ffad3b;
}
svg .game .U {
  fill: #997443;
}
svg .game .S {
  fill: #56c6cc;
}
svg .game .L {
  fill: #62c248;
}
svg .game .Y {
  fill: #e8dd61;
}
svg .game .Shovel {
  fill: #d1b982;
}
svg .game .Temp {
  fill: #8c8c8c;
}

/* Spell Table Formatting */
table.spellTable {
  width: 100%;
  text-align: center;
  font-size: 13px;
  border-collapse: collapse;
}
table.spellTable td, table.spellTable th {
  /* border: 1px solid #fff; */
  padding: 5px 4px;
}
table.spellTable thead {
  background: #333;
  border: 1px solid #333;

}
table.spellTable thead th {
  font-weight: normal;
  color: #eee;
}
table.spellTable tbody tr {
  background: #fff;
  color: #333;
  border: 1px solid #888;
}
table.spellTable tbody td:nth-child(1),
table.spellTable tbody td:nth-child(2){
  text-align: left;
}
table.spellTable tbody tr:hover{
  background: #ddd;
  /* opacity: 0.6; */
}
table.spellTable tbody tr.disabled{
  background: #eee;
  /* border: 1px solid red; */

  /* border: 1px solid red; */
  opacity: 0.7;
}
/* table.spellTable tr:nth-child(even) {
  background: #fff;
} */
